<header></header>
<div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel" aria-hidden="true" style="margin-top: 120px;" modal-dialog>
    <div class="modal-dialog" style="margin-top: 80px;">
        <div class="modal-content">
            <form #xform="ngForm" (ngSubmit)="create(xform,close)" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="createUserModalLabel">创建</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="input-group col-xs-12 bottom-gap">
                            <span class="input-group-addon addon-width-4 " style="width:95px; text-align:right;">编号：</span>
                            <input class="form-control" id="txtId" name='lisence' type="text" required maxlength="50" minlength="10" [(ngModel)]="SelectedModel.lisence" />
                        </div>
                        <div [hidden]="xform.controls.lisence?.valid" class="alert alert-danger">
                            <p *ngIf="xform.controls.lisence?.errors?.required">* 必填项</p>
                            <p *ngIf="xform.controls.lisence?.errors?.minlength">* 长度必须大于10个字符</p>
                        </div>
                        <div class="input-group col-xs-12 bottom-gap">
                            <span class="input-group-addon addon-width-4 " style="width:95px; text-align:right;">名称：</span>
                            <input class="form-control" id="txtName" name='name' type="text" required maxlength="50" minlength="4" [(ngModel)]="SelectedModel.name" />
                        </div>
                        <div [hidden]="xform.controls.name?.valid" class="alert alert-danger">
                            <p *ngIf="xform.controls.name?.errors?.required">* 必填项</p>
                            <p *ngIf="xform.controls.name?.errors?.minlength">* 长度必须大于4个字符</p>
                        </div>
                        <div class="input-group col-xs-12 bottom-gap">
                            <span class="input-group-addon addon-width-4 " style="width:95px; text-align:right;">联系方式：</span>
                            <input class="form-control" id="txtDesc" name='contact' type="text" required maxlength="50" minlength="5" [(ngModel)]="SelectedModel.contact" />
                        </div>
                        <div [hidden]="xform.controls.contact?.valid" class="alert alert-danger">
                            <p *ngIf="xform.controls.contact?.errors?.required">* 必填项</p>
                            <p *ngIf="xform.controls.contact?.errors?.minlength">* 长度必须大于5个字符</p>
                        </div>
                        <div class="input-group col-xs-12 bottom-gap">
                            <span class="input-group-addon addon-width-4 " style="width:95px; text-align:right;">地址：</span>
                            <input class="form-control" id="txtAddr" name='address' type="text" required maxlength="50" minlength="4" [(ngModel)]="SelectedModel.address" />
                        </div>
                        <div [hidden]="xform.controls.address?.valid" class="alert alert-danger">
                            <p *ngIf="xform.controls.address?.errors?.required">* 必填项</p>
                            <p *ngIf="xform.controls.address?.errors?.minlength">* 长度必须大于4个字符</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary  col-xs-offset-6" id="btnSave" type="submit">保存</button>
                    <button type="button" class="btn btn-default" #close data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div onselectstart="return false">
    <div class="well well-sm">
        <div class="container fixed-width">
            <button type="button" class="btn btn-default gap" id="btnCreate" data-toggle="modal" (click)="openDialog()">
                <span class="glyphicon glyphicon-plus"></span> 添加
            </button>
            <button type="button" class="btn btn-default gap" style="display: none" id="btnRemove" ng-click="removeBatch(this, $event.target)">
                <span class="glyphicon glyphicon-trash"></span> 删除
            </button>
            <div class="col-xs-6 col-md-3 input-group pull-right searchPanel">
                <input type="text" class="form-control" id="searchInput" placeholder="请输入关键词" [(ngModel)]='searchWord' />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default" id="searchBtn" (click)="search()">搜索</button>
                </span>
            </div>
        </div>
    </div>
    <div class="container fixed-width">
        <h3 class="pageInfo"><img src="../../assets/images/header.png" />&nbsp;客户</h3>
        <div class="panel panel-default">
            <table class="table table-striped" style="table-layout:fixed;word-wrap:break-word;" id="tblUses">
                <thead class="thead-color">
                    <tr>
                        <th class="col-xs-3" style="cursor:pointer">
                            lisence
                        </th>
                        <th class="col-xs-3" style="cursor:pointer">
                            联系方式
                        </th>
                        <th class="col-xs-3" style="cursor:pointer">
                            名称
                        </th>
                        <th class="col-xs-3">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let model of models | paginate: {
                                                      itemsPerPage: pageSize,
                                                      currentPage: pageIndex,
                                                      totalItems: recordCount }">
                        <td class="col-xs-3">{{model.lisence}}</td>
                        <td class="col-xs-3">{{model.contact}}</td>
                        <td class="col-xs-3">{{model.name}}</td>
                        <td class="col-xs-3">
                            <a class="gap" href="javascript:void(0)" (click)="remove(model, $event)" id="{{model.id}}">删除</a>
                            <a class="gap" [routerLink]="['/devices', {customerid: model.id}]">设备</a>
                            <a class="gap" [routerLink]="['/consumables', {customerid: model.id}]">耗材</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
    </div>
</div>
<footer></footer>